@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    margin-top: 20px;
}

.genreBlock {
    width: 100%;
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.links {
    width: 130px;
    height: 30px;
    font-size: 25px;
    border: green 2px solid;
    margin: 5px;
    border-radius: 10px;
}

.link {
    text-decoration: none;
}