@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


.btn {
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
    color: inherit;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 25px;
    border: none;
    cursor: pointer;
}