@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}

.rightSide {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.rated {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: green 2px solid;
    border-radius: 20px;


}

.leftSide {
    width: 35%;
}

.img {
    border-radius: 20px;
    width: 40vw;

}

.moviesWrap {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: green 2px solid;
    margin-bottom: 10px;
    border-radius: 20px;
}

.title {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 25px;
}

